.home {
    max-width: 500px;
    margin: 100px auto;
}

.error {
    max-width: 300px;;
    margin: 200px auto;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30% auto;
 
}

