body {
    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive;
    background-color: #EAE7DC;

}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    padding: 10px;
    margin-right: 10px;
   

}



.home {
    height: 100%;
}