body {
    /* position: relative; */

    margin: 0;
    padding: 0;
    font-family: 'Pangolin', cursive;
    background-color: #EAE7DC;

}

.footer {
    height: 60px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}





.container {
    max-width: 1800px;
    min-width: 320px;
    margin: auto;
    min-height: 100%;
    margin-bottom: -30px; 
}

.container:after {
    content: "";
    display: block;
  }
